body{
    background-image:url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8247.jpg?semt=ais_hybrid&w=740");
    text-decoration:whitesmoke;
    text-align: center;
}

